# 0. Open Database

In [1]:
import requests
import pandas as pd
import sqlite3
import tqdm
import requests as rq
from bs4 import BeautifulSoup
from io import BytesIO
import re

import myAPI_keys as Key
import init_db

init_db.init_entire_database()
print("Database initilized! load data from API and insert into database...")


conn = sqlite3.connect("db/StockManageAPP.sqlite")

cur = conn.cursor()

Database initilized! load data from API and insert into database...

/Users/jiho/Desktop/DB_API_assignment/init_db.py:55: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  row[1] = str(row[1]).zfill(6)
/Users/jiho/Desktop/DB_API_assignment/init_db.py:55: FutureWarning: Series.__setitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To set a value by position, use `ser.iloc[pos] = value`
  row[1] = str(row[1]).zfill(6)

# 1. APP Loading

## 1.1.1. Update [StockInfo] Table

## 1.1.1. Defince Function : Get_Stock_Price 
- 한국증권거래소 API에 종목코드를 파라미터로 이용해, 종목명과 종가 가져옴.

In [2]:
def Get_Stock_Price(_code):
    endpoint = "http://apis.data.go.kr/1160100/service/GetStockSecuritiesInfoService/getStockPriceInfo"
    url = f"{endpoint}?pageNo={1}&resultType=json&numOfRows={1}&serviceKey={Key.STOCK_INFO_ENCODED_KEY}&likeSrtnCd={_code}"
    response = (
        requests.get(url).json().get("response").get("body").get("items").get("item")[0]
    )
    return response

## 1.1.2. Add IndividualStockAcount.StockCode to [StockInfo Table(df)]
- individual stock info table에서 stock code들을 모두 stock info에 적어야함

In [3]:
# _tmp = cur.execute("SELECT DISTINCT StockCode FROM IndividualStockAcount")
df = pd.read_sql_query("SELECT DISTINCT StockCode FROM IndividualStockAcount", conn)
df["StockName"] = ""
df["Category"] = ""
df["Price"] = ""

In [4]:
df

  StockCode StockName Category Price
0    000660
1    005930
2    035420

## 1.1.2. load category table (in memory)

### Function: Get_Stock_Category_Info
- api한계로 한국증권거래소 크롤링
- 여기 실행오류 잦은데, 다시 실행하면 잘 됨.

In [5]:
def Get_Stock_Category_Info():
    url = "https://finance.naver.com/sise/sise_deposit.nhn"
    data = rq.get(url)
    data_html = BeautifulSoup(data.content)
    parse_day = data_html.select_one(
        "div.subtop_sise_graph2 > ul.subtop_chart_note > li > span.tah"
    ).text

    #print(parse_day)

    biz_day = re.findall("[0-9]+", parse_day)
    biz_day = "".join(biz_day)

    #print(biz_day)
    ######################################################################################

    gen_otp_url = "http://data.krx.co.kr/comm/fileDn/GenerateOTP/generate.cmd"
    gen_otp_stk = {
        "mktId": "STK",
        "trdDd": biz_day,
        "money": "1",
        "csvxls_isNo": "false",
        "name": "fileDown",
        "url": "dbms/MDC/STAT/standard/MDCSTAT03901",
    }
    headers = {"Referer": "http://data.krx.co.kr/contents/MDC/MDI/mdiLoader"}
    otp_stk = rq.post(gen_otp_url, gen_otp_stk, headers=headers).text

    # print(otp_stk)
    down_url = "http://data.krx.co.kr/comm/fileDn/download_csv/download.cmd"
    down_sector_stk = rq.post(down_url, {"code": otp_stk}, headers=headers)
    sector_stk = pd.read_csv(BytesIO(down_sector_stk.content), encoding="EUC-KR")
    ######################################################################################
    gen_otp_ksq = {
        "mktId": "KSQ",  # 코스닥 입력
        "trdDd": biz_day,
        "money": "1",
        "csvxls_isNo": "false",
        "name": "fileDown",
        "url": "dbms/MDC/STAT/standard/MDCSTAT03901",
    }
    otp_ksq = rq.post(gen_otp_url, gen_otp_ksq, headers=headers).text

    down_sector_ksq = rq.post(down_url, {"code": otp_ksq}, headers=headers)
    sector_ksq = pd.read_csv(BytesIO(down_sector_ksq.content), encoding="EUC-KR")
    ######################################################################################
    krx_sector = pd.concat([sector_stk, sector_ksq]).reset_index(drop=True)
    krx_sector["종목명"] = krx_sector["종목명"].str.strip()
    krx_sector["기준일"] = biz_day

    return krx_sector

In [6]:
krx_sector = Get_Stock_Category_Info()
krx_sector.head()

     종목코드      종목명   시장구분   업종명      종가    대비   등락률           시가총액       기준일
0  095570   AJ네트웍스  KOSPI  서비스업    4185    90  2.20   189382796415  20231116
1  006840    AK홀딩스  KOSPI  기타금융   17940   -40 -0.22   237661244340  20231116
2  027410      BGF  KOSPI  기타금융    3530    -5 -0.14   337880272230  20231116
3  282330   BGF리테일  KOSPI   유통업  139600 -1600 -1.13  2412833277600  20231116
4  138930  BNK금융지주  KOSPI  기타금융    7070   -20 -0.28  2277165256660  20231116

## 1.1.3. Add Stock{Name, Price} to [StockInfo(df)] by using API

In [7]:
for _StockCode in tqdm.tqdm(df["StockCode"]):
    # Get the StockName and Price from the response

    _ans = Get_Stock_Price(_StockCode)
    _StockName = _ans["itmsNm"]
    _Price = _ans["clpr"]
    ###############################################################################
    # Find the matching row in krx_sector
    matching_sector = krx_sector[krx_sector["종목코드"] == _StockCode]["업종명"]

    df.loc[df["StockCode"] == _StockCode, "Category"] = matching_sector.values[0]
    ###############################################################################

    # print(_StockName, _Price)
    # Assign the value to the StockName column of the matching row
    df.loc[df["StockCode"] == _StockCode, "StockName"] = _StockName
    df.loc[df["StockCode"] == _StockCode, "Price"] = _Price

  0%|          | 0/3 [00:00<?, ?it/s]

100%|██████████| 3/3 [00:05<00:00,  1.89s/it]

In [8]:
df

  StockCode StockName Category   Price
0    000660    SK하이닉스     전기전자  129900
1    005930      삼성전자     전기전자   72500
2    035420     NAVER     서비스업  202000

## 1.1.4. 만든 df Table을 [StockInfo table]에 대입

In [9]:
# Iterate over the rows of the DataFrame
for index, row in df.iterrows():
    # Create the INSERT statement
    sql = f"""
    INSERT INTO StockInfo (StockCode, StockName, Price, Category)
    VALUES ('{row['StockCode']}', '{row['StockName']}', {row['Price']}, '{row['Category']}')
    """

    # Execute the INSERT statement
    cur.execute(sql)

# Commit the changes and close the connection
conn.commit()

# 1.2. Update [UserInfo] Table 
- Update a [UserInfo].Blance
- Update a [UserInfo].FavoriteCategory

## 1.2.1 Update [UserInfo].Blance

In [10]:
sql = f"""
    SELECT ID, SUM(Count * Price) as TotalValue
    FROM (
        SELECT IndividualStockAcount.ID, IndividualStockAcount.StockCode, IndividualStockAcount.Count, StockInfo.Price
        FROM IndividualStockAcount
        JOIN StockInfo ON IndividualStockAcount.StockCode = StockInfo.StockCode
    )
    GROUP BY ID
    """

df = pd.read_sql_query(sql, conn)

In [11]:
df

        ID  TotalValue
0  jiho266      867000
1  jiho267      808000
2  jiho268      649500
3  jiho270      404400

In [12]:
# Write the DataFrame to a temporary table in the SQLite database
df.to_sql("temp", conn, if_exists="replace", index=False)

# Update the UserInfo table based on the temporary table
cur.execute(
    """
    UPDATE UserInfo
    SET Balance = (
        SELECT TotalValue
        FROM temp
        WHERE temp.ID = UserInfo.ID
    )
    WHERE EXISTS (
        SELECT 1
        FROM temp
        WHERE temp.ID = UserInfo.ID
    )
"""
)
cur.execute("DROP TABLE IF EXISTS temp")  

conn.commit()

## 1.2.2. [IndividualStockAccount].TotalPrice

In [13]:
sql = f"""
    SELECT IndividualStockAcount.ID, IndividualStockAcount.StockCode, IndividualStockAcount.Count, StockInfo.Price
    FROM IndividualStockAcount
    JOIN StockInfo ON IndividualStockAcount.StockCode = StockInfo.StockCode
    """

df = pd.read_sql_query(sql, conn)

In [14]:
df

        ID StockCode  Count   Price
0  jiho266    005930      3   72500
1  jiho267    035420      4  202000
2  jiho268    000660      5  129900
3  jiho266    000660      5  129900
4  jiho270    000660      1  129900
5  jiho270    005930      1   72500
6  jiho270    035420      1  202000

In [15]:
# Write the DataFrame to a temporary table in the SQLite database
df.to_sql("temp", conn, if_exists="replace", index=False)

# Update the individualstockaccount table based on the temporary table
cur.execute(
    """
    UPDATE IndividualStockAcount
    SET TotalPrice = (
        SELECT Count * Price
        FROM temp
        WHERE temp.ID = IndividualStockAcount.ID AND temp.StockCode = IndividualStockAcount.StockCode
    )
    WHERE EXISTS (
        SELECT 1
        FROM temp
        WHERE temp.ID = IndividualStockAcount.ID AND temp.StockCode = IndividualStockAcount.StockCode
    )
"""
)
cur.execute("DROP TABLE IF EXISTS temp")
conn.commit()

## 1.2.3. Update the [UserInfo].FavCategory column
- 각 Id마다의 Category별 TotalPrice합계를 구하고, 가장 큰 Category를 FavoriteCategory로 지정

In [19]:
# Get the category with the highest sum of TotalPrice for each ID
sql = """
SELECT IndividualStockAcount.ID, StockInfo.Category, SUM(IndividualStockAcount.TotalPrice) as Total
FROM UserInfo
LEFT JOIN IndividualStockAcount ON UserInfo.ID = IndividualStockAcount.ID
LEFT JOIN StockInfo ON IndividualStockAcount.StockCode = StockInfo.StockCode
GROUP BY IndividualStockAcount.ID, StockInfo.Category
"""

df = pd.read_sql_query(sql, conn)

# Find the category with the highest sum of TotalPrice for each ID
df = df.loc[df.groupby("ID")["Total"].idxmax()]

# Update the UserInfo table with the FavCategory
for index, row in df.iterrows():
    sql = f"""
    UPDATE UserInfo
    SET FavCategory = '{row['Category']}' 
    WHERE ID = '{row['ID']}'
    """
    cur.execute(sql)

conn.commit()